.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  height: 50vh;
}
.wrapper .container {
  width: 100%;
  background-size: cover;
  background-position: right;
  height: 100%;
}
.container .text {
  /* border: 1px solid black; */
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0.5rem;
  color: #ffffff;
}
.text .title {
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: #579393fc 5px 3px 6px;
}
.text .description {
  font-weight: 600;
  margin: 0;
}
.text .button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #87ceeb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
  .wrapper .container {
    width: 100%;
    /* height: 100vh; */
  }
  .text {
    width: 50%;
    padding: 2rem;
  }
  .text .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .wrapper .container {
    width: 100%;
    /* height: 100vh; */
  }
  .text .title {
    width: 50%;
    margin-bottom: 0.5rem;
  }
  .text .title {
    font-size: 2.5rem;
  }
  .wrapper {
    height: 60vh;
  }
  .wrapper .container {
    background-size: 100%;
    background-position: top left;
    padding-left: 2rem;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) {
  .text .title {
    font-size: 3.5rem;
  }
  .text .description {
    font-size: 2rem;
  }
  .text .button {
    font-size: 1.6rem;
  }
}
