.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  width: 95%;
}
.wrapper .header {
  font-weight: 600;
  font-size: 18px;
}
.container .mobileFiltersContainers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.mobileFiltersContainers .inputFilter,
.mobileFiltersContainers .dropDownFilter {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.mobileFiltersContainers .sort {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: end;
}
.productMainSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.productMainSection .productFilters {
  display: none;
}
.productMainSection .productsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.inputFilter input,
.dropDownFilter select,
.sort select {
  border: none;
  border: 1px solid lightgrey;
  outline: none;
  padding: 5px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 3px 3px 5px lightgrey;
}
.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.5rem; */
  width: 100%;
}
.productCard .dltContainer {
  margin: 0;
  font-size: 28px;
  display: flex;
  justify-content: end;
  width: 100%;
}
.dltContainer span {
  color: chocolate;
}
@media (min-width: 720px) {
  .productMainSection .productsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .wrapper .header {
    font-size: 24px;
  }
  .wrapper .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: auto;
  }
}
@media (min-width: 1440px) {
  .productMainSection .productsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .wrapper .header {
    font-size: 29px;
  }
  .container .mobileFiltersContainers {
    gap: 1rem;
  }

  .mobileFiltersContainers .dropDownFilter {
    gap: 2rem;
  }
  .dropDownFilter select,
  .inputFilter input,
  .sort select {
    width: 20%;
    font-size: 25px;
    color: grey;
    font-weight: 500;
  }
}
